#anim {
                animation-name: rs;
                animation-duration: 60s;
                animation-iteration-count: infinite;
                height: 400px;
                width: 100%;
            }

            @keyframes rs {
                0% {
                    background-image: url("medicine.jpg");
                }

                50% {
                    background-image: url("Untitled\ design.png");
                }

                100% {
                    background-image: url("blood.jpg");
                }
            }

            .nav {
                background-image: url("health.png");
                width: 100%;
                height: 90vh;
                background-size: 100% 90vh;
            }

            .fk {
                height: 40px;
                width: 100px;
                border-radius: 12px;
                box-shadow: grey 10px 8px 9px;
            }

            .golu {
                height: 150px;
                width: 300px;
                border-radius: 15px;
            }

            ul,
            li,
            .anker {
                text-decoration: none;
                color: white;
                font-size: 30px;
                padding: 25px;

                display: inline;

            }

            .go {
                height: 40px;
                width: 250px;
                border-radius: 15px;
                border: 4px 0px 0px black
            }

            .na {
                font-size: 21px;
                color: black;
            }

            .fk {
                height: 40px;
                width: 150px;
                background-color: aqua;
                border-radius: 10px;
            }

            #si {
                height: 50vh;
                width: 100%;
            }

            #late {
                margin-left: 30px;
                height: 400px;
                width: 400px;
            }

            #main {
                height: 400px;
                width: 400px;

            }

            .ak {
                height: 400px;
                width: 400px;

            }

            #sh {
                transition: transform 2s;
            }

            .decide {
                height: 300px;
                width: 90%;
                background-color: white;
                box-shadow: grey 9px 9px 9px;
                color: rgb(12, 12, 12);
            }

            #ch {
                height: 80px;
                width: 150px;
                transform: scale(1.3);

            }

            .go:hover {
                border: 4px solid lawngreen;
            }